# default crapfile-ignores
*~
*.*bak*
*.old*
*.log*
*_log_*
*.bz2
*.gz
*.xz
*.tar
*.jar
*.zip
*.nbm
*.orig
*.swp*
*.*-swp
*.db
*Kopie*
nbproject/private
target
.kdev4
.idea/*
out/*
**/.idea/*
**/out/*
